.row{ id: dom_id(message) }
  - if message.position.eql?('left')
    .bubble.left
      = message.text
      %br
      %note= message.time_and_sender
  - elsif message.position.eql?('center')
    .bubble.middle
      = message.text
      %br
      %note= message.time_and_sender
  - else
    .bubble.right.alt-bg
      = message.text
      %br
      %note= message.time_and_sender