= turbo_frame_tag "new_message", target: '_top' do
  = form_with(model: [ @message.conversation, @message]) do |f|
    = f.hidden_field :conversation_id, value: @conversation.id
    = f.hidden_field :author_id, value: current_user.id

    = f.select :position, Message.positions, {}, { class: 'form-dropdown' }
    %br
    %br
    = f.text_field :text, class: 'bubble left response'
    %br
    %br
    = f.submit 'send', class: 'btn small-btn'