%hr
.row
  = form_with(model: [ @message.conversation, @message]) do |f|
    = f.hidden_field :conversation_id, value: @conversation.id
    = f.hidden_field :author_id, value: current_user.id
    = f.select :position, Message.positions
    %br
    = f.text_field :text, class: 'bubble left response'
    = f.submit 'send'