%h1.center= @conversation.title
.center.mb-5
  - if current_user && @conversation.creator.eql?(current_user)
    %i.white-btn#inviteCode{ onclick: 'copyToClipboard()', value: @conversation.invite_code }
      invite
      .fa.fa-clone
  - if current_user && @conversation.participants.exclude?(current_user)
    = link_to root_path do
      %i.btn.large-btn.m-2
        = @conversation.likes
        .fa.fa-thumbs-up{ 'aria-hidden': 'true' }
  - else
    %i.btn.large-btn.m-2
      = @conversation.likes
      .fa.fa-thumbs-up{ 'aria-hidden': 'true' }

= render 'positions', positions: @conversation.positions

- side = false
- @messages.each do |m|
  - side = !side
  = render 'bubble', message: m, orient: side