%h1.center= @conversation.title
.center.mb-5
  - if current_user
    #inviteCode.hidden= @conversation.invite_link
    %i.white-btn{ onclick: 'copyToClipboard()' }
      invite
      .fa.fa-clone
  - if current_user && @conversation.participants.exclude?(current_user)
    = link_to root_path do
      %i.btn.large-btn.m-2
        = @conversation.likes
        .fa.fa-thumbs-up{ 'aria-hidden': 'true' }
  - else
    %i.btn.large-btn.m-2
      = @conversation.likes
      .fa.fa-thumbs-up{ 'aria-hidden': 'true' }

  = render 'positions', positions: @conversation.positions

-# = turbo_stream_from @conversation
#messages
  = render @conversation.messages.order(:created_at)

- if current_user
  = turbo_frame_tag "new_message", src: new_conversation_message_path(@conversation), target: "_top" do
    %p 
      this will disappear if the 
      %code turbo_frame_tag "new_message" 
      loads properly

= javascript_pack_tag 'copy_to_clipboard'