%h1.center= @conversation.title
.center.mb-5
  - if current_user && @conversation.creator.eql?(current_user)
    %i.white-btn#inviteCode{ onclick: 'copyToClipboard()', value: @conversation.invite_code }
      invite
      .fa.fa-clone
  - if current_user && @conversation.participants.exclude?(current_user)
    = link_to root_path do
      %i.btn.large-btn.m-2
        = @conversation.likes
        .fa.fa-thumbs-up{ 'aria-hidden': 'true' }
  - else
    %i.btn.large-btn.m-2
      = @conversation.likes
      .fa.fa-thumbs-up{ 'aria-hidden': 'true' }

  = render 'positions', positions: @conversation.positions

= turbo_frame_tag "conversation" do
  #messages
    = render @conversation.messages.order(:created_at)

- if current_user
  = form_with model: [ @conversation, @message ] do |f|
    = f.hidden_field :conversation_id, value: @conversation.id
    = f.hidden_field :author_id, value: current_user.id 

    - Message.positions.each do |p|
      = f.radio_button :position, p
    %br
    %br
    = f.text_area :text, placeholder: 'type here', class: ''
    %br
    %br
    = f.submit 'send', class: 'btn small-btn'

  = turbo_frame_tag "new_message", src: new_conversation_message_path(@conversation) do
    %p 
      this will disappear if the 
      %code turbo_frame_tag "new_message" 
      loads properly