%h1 New Topic

= form_for @topic do |f|
  .form-row
    = f.label :title, class: 'bold'
    %br
    - if @topic.errors[:title].any?
      .error
        = f.text_field :title
        %p= @topic.errors[:title].join(", ")
    - else
      = f.text_field :title
  
  .form-row
    = f.label :domain, class: 'bold'
    %br
    = f.select :domain, Topic.domains, {}, { class: 'form-dropdown' }
    - if @topic.errors[:domain].any?
      %p= @topic.errors[:domain].join(", ")

  .form-row
    = f.submit 'submit', class: 'form-submit'
