%h1.center let's talk
= render 'bubble', text: "you've got opinions", orient: 'left'
= render 'bubble', text: "as do others", orient: 'right'
= render 'bubble', text: "if you had one dog in the fight, what would you say? ", orient: 'left'
= render 'bubble', text: "or try not to say?", orient: 'right'
= render 'bubble', text: "engage, say your piece",  orient: 'left'
= render 'bubble', text: "or listen, follow the conversation", orient: 'right'
= render 'response'
.center{ style: 'margin-top:4rem;'}
  = link_to 'join the conversation', new_user_registration_path, class: 'btn large-btn m-2'